[user]
	email = Christoph.Scherr@newtec.de
	name = Christoph J. Scherr
	signingkey = Christoph.Scherr@newtec.de
[credential]
	helper = store --file ~/.git-credentials
[commit]
	gpgsign = true
[init]
    defaultBranch = master
